<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Jogo</title>
    <link rel="stylesheet" href="/css/edt.css"> 
</head>

<body>

    <header>
        <div class="logo-container">
            <img src="/fotos/Wiki_logo2(1)(1).png" alt="Logo Time de Vôlei">
            <div class="logo-text">WikiOsasco - Sistema Administrativo</div>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/admin/Jogo/lst">Jogos</a></li>
                <li><a href="/admin/escalacao/lst">Escalação</a></li>
                <li><a href="/admin/socio/lst">Sócios</a></li>
                <li><a href="/admin/adversario/add">Adversario</a></li>
            </ul>
        </nav>
    </header>

    <div class="form-container">
        <form action=" " method="post">
            <h3>Editar Jogo</h3>

            <div>
                <select name="adversario" id="adversario" class="form-control" required>
                    <option value="">selecione</option>
                    <%adversario.forEach(function(adversario){%>
    
                        <option value='<%=adversario.id%>'><%=adversario.nome%></option>
                        <%})%>
                    </div>

            <label for="data">Data:</label>
            <input type="date" id="data" name="data" value="<%= Jogo.data.toISOString().substring(0, 10) %>" required>

            <label for="local">Local:</label>
            <input type="text" id="local" name="local" value="<%= Jogo.local %>" required>

            <label for="resultado">Resultado:</label>
            <input type="text" id="resultado" name="resultado" value="<%= Jogo.resultado || '' %>">

            <button type="submit">Atualizar</button>
        </form>
        <a class="back-link" href="/admin/Jogo/lst">Voltar para a lista</a>
    </div>

</body>

</html>