<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogadoras</title>
    <link rel="stylesheet" href="/css/lst.css">
</head>

<body>

    <header>
        <div class="logo-container">
            <img src="/fotos/Wiki_logo2(1)(1).png" alt="Logo Time de Vôlei">
            <div class="logo-text">WikiOsasco - Sistema Administrativo</div>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/admin/Jogo/lst">Jogos</a></li>
                <li><a href="/admin/escalacao/lst">Escalação</a></li>
                <li><a href="/admin/socio/lst">Socios</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <h3>Jogadoras</h3>

        <table class="player-table">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Jogadora</th>
                    <th>Número</th>
                    <th>Posição</th>
                    <th>Opções</th>
                </tr>
            </thead>
            <tbody>
                <tbody>
                    <% escalacoes.forEach(function(escalacao) { %>
                      <tr>
                        <td> <img src = "/fotos/<%=escalacao.foto%>" width="70", height="70",/></td>
                        <td><%= escalacao.nome %></td>
                        <td><%= escalacao.numero %></td>
                        <td><%= escalacao.posicao %></td>

                       
                        
                        <td>
                          <a href="/admin/escalacao/edt/<%= escalacao._id %>" class="edit">Editar</a>
                          <a href="/admin/escalacao/del/<%= escalacao._id %>" class="delete" onclick="return confirm('Deseja realmente excluir?')">Excluir</a>
                        </td>
                      </tr>
                    <% }) %>
                  </tbody>
                  
            </tbody>
        </table>

        <div class="add-player">
            <a href="/admin/escalacao/add" class="btn">Adicionar jogadoras</a>
        </div>
        <a class="back-link" href="/">Voltar para a Home</a>
    </div>

</body>

</html>
